<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Página de Login</h2>
    <form method="post">
        {% csrf_token %}
        <p>Usuário: <input type="text" name="usuario"/></p>
        <p>Senha: <input type="password" name="senha"/></p>
        <p><input type="submit" value="Autenticar"/></p>
    </form>
    <p><a href="{% url 'home' %}">Voltar</a></p>
    <p><a href="{% url 'home' %}"><button>Voltar</button></a></p>
</body>
</html>